<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout

                    pattern="%highlight{%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c: %msg%n%throwable}{ERROR=red, WARN=yellow bold, INFO=white light}"
                    disableAnsi="false"/>
            <Console name="console1" target="SYSTEM_OUT">
                <PatternLayout
                        pattern=" [%-5level] %t %msg%n"/>
            </Console>
        </Console>


    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="debug">
            <AppenderRef ref="console"/>
            <!--            <AppenderRef ref="console1"/>-->
        </Root>
    </Loggers>
</Configuration>

